body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h3 {
    margin-bottom: 20px;
}
button {
    margin: 5px;
}
#corDeFundo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}